body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: white;
    background-image: url("https://i.postimg.cc/QN9PkQbc/IMG-7097.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
    font-family: Arial, sans-serif;
}

button {
    display: inline;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    width: 200px;
    height: 35px;
    font-family: Arial, sans-serif;
    font-weight: 600;
    box-shadow: 5px 5px 5px black;
    border-color: black;
    border-width: 3px;
    background-color: white;
}

label {
    font-size: 25px;
}

#birthdate {
    width: 150px;
    height: 15px;
    border-radius: 5px;
    padding: 5px;
    border-width: 3px;
    border-color: black;
}
